extends layout

block content

    head
        script(src='/javascripts/lot-creator-client.js')

    h1 AucJS
    h3 Welcome to Neko Loli Traps Auction with surprises

    h1 Message: #{infoMessage}
    br
    a(href='/') Back
